<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaiCuoiKy_Nhom13"
        tools:targetApi="31">
        <activity
            android:name=".Activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TrinhNgheNhac2Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.ListFavoriteSongsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditProfileAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TrinhNgheNhacActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TrangQuanLyOfAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.QuanLyBaiHatActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.QL_NguoiDungActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfileAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PhanQuyenActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PhanHoiActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddSongActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.EditSongActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditProfileAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ListFavoriteSongsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TrinhNgheNhacActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TrinhNgheNhac2Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfileAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PhanHoiActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PhanQuyenActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.QL_NguoiDungActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TrangQuanLyOfAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.QuanLyBaiHatActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditProfileAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".TrangChuActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>